body {
  background: radial-gradient(#111, #333);
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-container {
  width: 400px;
  height: 400px;
  margin-top: 14%;
  margin-left: 16%;
}

.planet {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 150%;
  font-size: 14px;
  transition: background 0.3s, transform 1.5s ease;
  text-align: center;
}

.planet:hover {
    cursor: pointer;
}

.planet.selected {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #0078ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #005fcc;
}

.planet img.planet-sprite {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  
}